.rec-dashboard-card{
    width: 40%;
    height: fit-content;
    padding: 1%;
}

.rec-dashboard-card-alt{
    width: 55%;
    height: fit-content;
    padding: 1%;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    color: white;
    line-height: 1.33;
    background-color: #ff2121;
}
.content-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 0.5%;
}
