.rec-dashboard-card{
    width: 215px;
    height: fit-content;
    padding: 10px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    margin: 10px;
    display: flex;
    align-content: center;
    text-align: center;

}
.rec-trainerstoday-card{
    width: 450px;
    height: fit-content;
    padding: 10px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    margin: 10px;
    text-align: center;
}

.rec-alt-card{
    height: fit-content;
    padding: 1%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rec-dashboard-pic-card{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

.rec-card-subtitle{
    padding-top: 10%;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    color: white;
    line-height: 1.33;
    background-color: #ff2121;
}
.rec-content-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 0.5%;
}

.rec-table-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px 20px;
    margin: 10px 5px;
    width: 100%;
    height: inherit;
    
}
.rec-split.rec-left{
    width: 40%;
    float: left;
}

.rec-split.rec-right{
    width: 60%;
    float: left;
}

.rec-content-container::after{
    display: table;
    clear: both;
}
