.Headr{
    margin-bottom: 15px;
}
.Head{
    display: flex;
    /* gap: 830px; */
    /* padding-left: 100px;
    padding-right: 100px; */
    
}
.profile{
    width: 250px;
    background-color: white;
    border-radius: 25px;
    height: 50px;
    display: flex;
    overflow: hidden;
    margin-left: 820px;
    
}
.profileDetails{
   padding: 5px;
   text-align: left;
    
}
#name{
    font-size: 15px;
    font-weight: bold;
}
#level{
    font-size: 12px;
    font-weight: 500;
    
}
h1{
    font-weight: 600!important;
}